{% load static %}
<div class="footer">
    <div class="wrapper">
        <div class="footer-contact">
            <h2>Контактна<br>інформація</h2>
            <p>
                <img src="{% static 'image/map.svg' %}" alt="map">
                Адреса: вул. Соборна, 37, м. Суми
            </p>
            <p>
                <img src="{% static 'image/mail.svg' %}" alt="mail">
                e-mail: palace_pdu@ukr.net
            </p>
            <p>
                <img src="{% static 'image/phone.svg' %}" alt="phone">
                телефон: 054 222 22 29
            </p>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11883.646908873945!2d34.799134981228995!3d50.90904312670296!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7368ef946dd8632d!2z0KHRg9C80YHRjNC60LjQuSDQvNGW0YHRjNC60LjQuSDQn9Cw0LvQsNGGINC00ZbRgtC10Lkg0YLQsCDRjtC90LDRhtGC0LLQsA!5e0!3m2!1suk!2sua!4v1677005862777!5m2!1suk!2sua" height="250" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
