{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}{{ news.title }} | {{ block.super }}{% endblock %}
{% block ogtype %}article{% endblock %}
{% block ogtitle %}{{ news.title }} | {{ block.super }}{% endblock %}
{% block extheader %}<meta property="article:published_time" content="{{ news.date_of_published.isoformat }}">{% endblock %}
{% block ogimage %}{{ news.preview_image }}{% endblock %}
{% block body %}
    {% include 'layouts/navigation.html' %}
    <div class="small-wrapper text-decoration news-view">
        <div class="date">{{ news.date_of_published }}</div>
        <h1>{{ news.title }}</h1>
        <main>
            {{ news.html_text|safe }}
        </main>
    </div>
    {% include 'layouts/footer.html' %}
{% endblock %}