{% extends 'layouts/base.html' %}
{% load static %}
{% block ogtitle %}{{ section.name }} | {{ block.super }}{% endblock %}
{% block title %}{{ section.name }} | {{ block.super }}{% endblock %}
{% block ogtype %}article{% endblock %}
{% block ogimage %}
    {% if section.banner.name %}
        {{ section.banner.url }}
    {% else %}
        {% static 'image/main.jpg' %}
    {% endif %}
{% endblock %}
{% block extheader %}
    <meta name="description" content="{{ section.preview_text }}">
    <meta property="og:description" content="{{ section.preview_text }}">
{% endblock %}
{% block body %}
    {% include 'layouts/navigation.html' %}
    <div class="small-wrapper section-view">
        <div class="section-header"
            {% if section.banner.name %}
                style="background-image: url('{{ section.banner.url }}')"
            {% else %}
                style="background-image: url('{% static 'image/main.jpg' %}')"
            {% endif %}>
                <main>
                    <h1>{{ section.name }}</h1>
                    {% if section.is_active_record %}
                        <a class="dark-button" href="{{ section.record_link }}" target="_blank">Записатися</a>
                    {% endif %}
                </main>
        </div>
        <main class="text-decoration inner-section">
            {{ section.html_text|safe }}
        </main>
    </div>
    <script src="{% static 'js/record.js' %}"></script>
    {% include 'layouts/footer.html' %}
{% endblock %}